<section id="contact-us">
    <h2>Contact Us</h2>
    <div class="contact-info">
        <h3>Hannah & Nikita</h3>
        <p><strong>Hannah:</strong> <a href="tel:647-876-0325">647-876-0325</a>&emsp;<strong><br>Email:</strong> <a href="mailto:hannah.saul247@gmail.com">hannah.saul247@gmail.com</a></p>
        <p><strong>Nikita:</strong> <a href="tel:416-262-9434">416-262-9434</a>&emsp;<strong><br>Email:</strong> <a href="mailto:nikitakabir17@gmail.com">nikitakabir17@gmail.com</a></p>
    </div>
</section>