<section id="location">
    <h2>Paradise Banquet Hall</h2>
    <p>7601 Jane St<br>
        Concorn, ON<br>
        L4K 1X2</p>
    <p></p>
    <p>We will be celebrating our ceremony in the garden, and the reception in the Queen Anne venue.</p>
    <p>When you turn into the banquet hall off of Jane St, both the garden and Queen Anne will be on your right hand
        side.</p>

    <!-- Add the image here -->
    <img src="/static/images/location.png" alt="Location Map" class="location-image">
</section>