<section id="qa">
    <h2>How do I <a href="https://docs.google.com/forms/d/e/1FAIpQLSeD2PtzarGG0V5GxGYtRL4I6tQJI0fuOlV4QHWYwBYDANGPlg/viewform" target="_blank" class="rsvp-link">RSVP</a>?</h2>
    <p>Please <a href="https://docs.google.com/forms/d/e/1FAIpQLSeD2PtzarGG0V5GxGYtRL4I6tQJI0fuOlV4QHWYwBYDANGPlg/viewform" target="_blank" class="rsvp-link">RSVP</a> on this site by July 1, 2025 - the earlier, the better!</p>

    <h2>Do you have a wedding gift registry?</h2>
    <p>We’d greatly appreciate cash gifts to help us as we begin our journey together. Thank you for your kindness!</p>
    
    <h2>What should I wear?</h2>
    <p>Dress code is formal.</p>

    <h2>Is there an open bar?</h2>
    <p>Yes, we will be offering an open bar.</p>

    <h2>Can I bring a guest?</h2>
    <p>Our guest list is by invite only, please request us for a plus-one ahead of time.</p>

    <h2>Can I take photos?</h2>
    <p>We hired a professional photographer to capture our special day and ask that you do not use your cell phones during the ceremony. However, you are more than welcome to take photos and videos of the rest of the night!</p>

    <h2>What happens after the ceremony?</h2>
    <p>After we say “I do,” we welcome you to join us for cocktail hour where we will serve beer, wine, cocktails, and light hors d’oeuvres. We will take our seats for dinner at 18:30.</p>

    <h2>Can I bring my children?</h2>
    <p>We have decided that this will be an adults-only occasion, except by invite only.</p>
    
    <h2>What time should I arrive?</h2>
    <p>Our ceremony will start at 16:30, so we recommend arriving half an hour prior. Please ensure you have plenty of time to settle in, find your seats, and enjoy the ambiance. </p>

    <h2>When is dinner served?</h2>
    <p>Reception will start at 17:30 with a Cocktail hour, then food will be served at 18:30.</p>

    <h2>What time do we finish?</h2>
    <p>Bar closes at 01:00.</p>

</section>